
<div class="logo">
  <img src="{{ job.logo }}">
</div>

<div class="text">
  <div>
    {{ job.company }}
    {{ "new: " + job.new }}
    {{ "featured: " + job.featured }}
  </div>
  {{ job.position }}
  <div>
    {{ job.postedAt }}
    {{ job.contract }}
    {{ job.location }}
  </div>
</div>

<div class="tags">
  <app-tag-chip-button
    [text]="job.role"
  > 
  </app-tag-chip-button>
  <app-tag-chip-button
    [text]="job.level"
  > 
  </app-tag-chip-button>
    <app-tag-chip-button
    *ngFor="let language of job.languages"
    [text]="language"
  > 
  </app-tag-chip-button>
    <app-tag-chip-button
    *ngFor="let tool of job.tools"
    [text]="tool"
  > 
  </app-tag-chip-button>
</div>
