.attribution { text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body, main {
  display: block;
  min-height: calc( 100vh - 3rem );
}

footer {
  height: 3rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 0.5rem;
  margin: 1rem;
}

.tag-group {
  display: flex;
  flex-flow: row;
  gap: 0.2rem;
  align-items: center;
}